.idea
/.venv
/experiment_data/*
**/__pycache__

# DO NOT INCLUDE SENSITIVE INFORMATION
**.jpg
**.jpeg
**.png

# DO NOT INCLUDE EXPERIMENT DATA
**.npz
**.npy
**.pdf
**.csv

# DO INCLUDE
!checker_board.csv
