[submodule "thirdparty/reversible-de"]
	path = thirdparty/revde/
	url = https://github.com/jmtomczak/reversible-de
[submodule "thirdparty/revolve2"]
	path = thirdparty/revolve2
	url = git@github.com:ci-group/revolve2.git
